.btn {
    -fx-border-width: 3;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 24px;

    -fx-background-color: -fx-surface;
    -fx-border-color: -fx-primary;


}
.btn:hover {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primaryText;
}

.sub-btn {
    -fx-border-width: 2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 20px;

    -fx-background-color: -fx-surface;
    -fx-border-color: -fx-primary;
}

.subTitle {
    -fx-font-size: 20;
}

.title {
        -fx-font-size: 20;
}


.dataField{
    -fx-font-size: 18;
}

/*.list-view .list-cell:even {*/
/*    -fx-background-color: -fx-surface;*/
/*    -fx-text-fill: black;*/
/*}*/
/*.list-view .list-cell:odd {*/
/*    -fx-background-color: -fx-surface;*/
/*    -fx-text-fill: black;*/
/*}*/