.root {
    -fx-surface:#eff0f3;

    -fx-primary: #625b71;
    -fx-primaryText: #ffffff;
}

* {
    -fx-font-family: "Roboto Light";
}

#main {
    -fx-background-color: -fx-surface;
    -fx-fill: -fx-surfaceText;
}

.mainTitle {
    -fx-font-size: 50;
}
