.root {
    -fx-surface: #faf7ff;
    /*-fx-surfaceText: #1d1b20;*/

    -fx-primary: #625b71;
    -fx-primaryText: #ffffff;
}

* {
    -fx-font-family: "Roboto Light";
}

#main {
    -fx-background-color: -fx-surface;
    -fx-fill: -fx-surfaceText;
}


