.root {
    -fx-surface:#eff0f3;

    -fx-primary: #625b71;
    -fx-primaryText: #ffffff;
}

* {
    -fx-font-family: "Roboto Light";
}

#main {
    -fx-background-color: -fx-surface;
    -fx-fill: -fx-surfaceText;
}

.mainTitle {
    -fx-font-size: 50;
}


.webcastListView .list-cell:even { /* <=== changed to even */
    -fx-background-color: white;

}
.webcastListView .list-cell:odd { /* <=== changed to even */
    -fx-background-color: white;
}
.webcastListView .list-cell:odd:hover {
    -fx-background-color: -fx-primary;
}
.webcastListView .list-cell:even:hover{
    -fx-background-color: -fx-primary;
}